body {
    background-image: url('../img/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 2s ease 0s;
    overflow: hidden;
}