body {
    background-image: url('../img/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    filter: blur(10px);
}