@media (max-width: 550px) {

    .city-name,
    .search-icon {
        font-size: 0.8em;
    }

    .city-data {
        padding: 0 10px;
    }

    .city-temp {
        font-size: 1.4em;
    }

    .city-location {
        font-size: 1.4em;
        padding: 30px 0 4px;
    }

    .country-flag-img {
        max-width: 100px;
    }

    .weather-content,
    .city-humidity {
        font-size: 1em;
    }
}