.city-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 10px;
}

.city-weather-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.city-temp {
    font-size: 2.6em;
}

.city-location {
    font-size: 1.8em;
    padding: 30px 0 4px;
}

.weather-content {
    display: flex;
    gap: 0.5rem;
}

.country-flag-img {
    max-width: 100px;
}

.weather-content,
.city-humidity {
    font-size: 1.2em;
}